@font-face {
  font-family: JetBrainsMono;
  src: url('/assets/font/JetBrainsMono/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: ChivoMono;
  src: url('/assets/font/ChivoMono/ChivoMono-Regular.ttf');
}

@font-face {
  font-family: RobotoMono;
  src: url('/assets/font/RobotoMono/RobotoMono-Regular.ttf';
}

body {
  family: 'JetBrainsMono'
  padding: 0px;
  margin: 0px;
}